@font-face {
    font-family: "Space Mono";
    src: url('./fonts/SpaceMono-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

.hello {
    color: red;
    font-size: 30;
    font-family: "Space Mono", serif;
    font-weight: 700;
}

.sonic{
    color: royalblue;
}

